<p id="notice"><%= notice %></p>


<%= link_to 'Download',download_tender_doc7_path(@doc7.tender, @doc7)  %> |
<%= link_to 'Edit', edit_tender_doc7_path(@doc7.tender, @doc7) %> |
<%= link_to 'Back', tender_doc7s_path(@doc7.tender) %>
