<%= form_for([@doc5.tender, @doc5]) do |f| %>
  <% if @doc5.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc5.errors.count, "error") %> prohibited this doc5 from being saved:</h2>

      <ul>
      <% @doc5.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
