<p id="notice"><%= notice %></p>

<%= link_to 'Download',download_tender_doc5_path(@doc5.tender, @doc5)  %> |
<%= link_to 'Edit', edit_tender_doc5_path(@doc5.tender, @doc5) %> |
<%= link_to 'Back', tender_doc5s_path(@doc5.tender) %>
