<%= form_for([@doc10.tender, @doc10]) do |f| %>
  <% if @doc10.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc10.errors.count, "error") %> prohibited this doc10 from being saved:</h2>

      <ul>
      <% @doc10.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
