<p id="notice"><%= notice %></p>


<%= link_to 'Download',download_tender_doc9_path(@doc9.tender, @doc9)  %> |
<%= link_to 'Edit', edit_tender_doc9_path(@doc9.tender, @doc9) %> |
<%= link_to 'Back', tender_doc9s_path(@doc9.tender) %>
